
.home{
    /* background-color: rgb(31, 31, 37); */

}


.yellow{
    position: absolute;
    left: 30%;
    top: 20%;
    background: yellow;
    position: fixed;
    height: 80px;
    width: 120px;
    filter: blur(80px);
    z-index: 1;
   

}

.orange{
    position: absolute;
    left: 70%;
    top: 70%;
    background-color: orangered;
    position: fixed;
    height: 200px;
    width: 200px;
    filter: blur(110px);
    z-index: 1;

}

.sections{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    
}