


.grid1{
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    position: relative;

}

.f1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.f1 p{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
}

.searchbar{
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 152, 152);
    color: black;
    

}

/* .sbx{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */


.cardbg{
    background: linear-gradient(200deg, rgb(247, 245, 248), rgb(140, 205, 255));
    border-radius: 10px;
   
}

.cardbg hr{
    border: solid aliceblue 2px;
    margin-right: 20px;
    margin-left: 20px;
    
}

