.upload{
    height: 20vh;
    background-color: rgb(148, 185, 218);
}

/* .upload img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
} */

.post_upload_btn{
    display: flex;
    justify-content: space-around;
}


.post_upload_btn .btn{
   background-color: aqua;
   color: black;
   padding: 2px 4px;
   border-radius: 10px;

}

.post_upload_btn .postbtn{
   background-color: rgb(156, 0, 0) !important;
   color: aliceblue !important;
   padding: 4px 8px !important;
}

.previewimage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.caption{
    color: black;
}

.posts{
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0.5rem;
 }
  
  ::-webkit-scrollbar-thumb {
    background-color: aliceblue;
    border-radius: 10px;
  }
  
  /* .scrollbar-hidden {
    scrollbar-width: none;
  } */

  /* .scrollbar-hidden::-webkit-scrollbar {
    width: 0rem !important;
  } */